@import url("https://fonts.signalwerk.ch/css/latest/family=Work+Sans:ital,wght@0,100..900;1,100..900.css");

:root {
  --color-blue: #0054a2;
  --color-black: #121212;
  --color-white: #ffffff;
  --color-gray: #f0f0f0;
  --color-gray-dark: #ccc;
  --color-primary: var(--color-blue);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit; /* Get rid of all font sizes and heights */
}

html {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-black);
  background-color: var(--color-white);
}

body {
  padding: 2rem;
}

pre {
  background: var(--color-gray);
  padding: 1rem;
  font-size: 0.8rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-height: 300px;
  overflow: auto;
  font-family: consolas, monospace;
}

ol,
ul {
  list-style: none;
  margin-bottom: 0.2rem;
}

p {
  margin-bottom: 0.2rem;
  text-wrap: pretty;
}

strong {
  font-weight: 700;
}

h1,
h2,
h3 {
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  text-wrap: balance;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

a:hover {
  color: inherit;
}

button {
  color: inherit;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background: transparent;
  text-shadow: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;

  &:focus {
    outline: 0 !important;
  }
  &:disabled {
    cursor: auto;
  }
}

.button + .button {
  margin-left: 0.5rem;
}

.input,
.select,
.button {
  line-height: inherit;
  border: 0.15em solid var(--color-black);
  padding: 0.5em 1em;
}

.button:hover:not(:disabled) {
  color: var(--color-white);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.button:disabled {
  cursor: auto;
  opacity: 0.5;
}
